[user]
	name = Mr-YS
	email = lucky.yoon0819@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitexclude
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
